[submodule ".vim/pack/misplugins/start/fzf"]
	path = .vim/pack/misplugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/misplugins/start/fzf.vim"]
	path = .vim/pack/misplugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/misplugins/start/gruvbox"]
	path = .vim/pack/misplugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/misplugins/start/vim-colors-solarized"]
	path = .vim/pack/misplugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
